apc.php
adminer.php
system/*
.idea/*
!system/index.html
assets/vendor/*
!assets/vendor/index.html
application/config/config.php
application/config/database.php
application/config/pogo.php
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/cache/templates_c/*
!application/cache/templates_c/index.html
application/vendor/*
!application/vendor/index.html